<option id="History" selected=true disabled=true>Choose one category...</option>
<option id="History">Accounting/Finance</option>
<option id="History">Administrative/Clerical</option>
<option id="History">Banking/Real Estate/Mortgage Professionals</option>
<option id="History">Biotech/R&D/Science</option>
<option id="History">Building Construction/Skilled Trades</option>
<option id="History">Business/Strategic Management</option>
<option id="History">Creative/Design</option>
<option id="History">Customer Support</option>
<option id="telecomunications">Editorial/Writing</option>
<option id="History">Education/Training</option>
<option id="History">Engineering</option>
<option id="History">Food Services/Hospitality</option>
<option id="History">Human Resources</option>
<option id="History">Installation/Maintenance/Repair</option>
<option id="History">IT/Software Development</option>
<option id="History">Legal</option>
<option id="History">Logistics/Transportation</option>
<option id="History">Manufacturing/Production/Operations</option>
<option id="History">Marketing/Product</option>
<option id="History">Medical/Health</option>
<option id="telecomunications">Other</option>
<option id="History">Project/Program Management</option>
<option id="History">Quality Assurance/Safety</option>
<option id="History">Sales/Retail/Business Development</option>
<option id="History">Security/Protective Services</option>

