<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7279667-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<%= image_tag("letrasOneSpace.png", :alt => "Sample App") %>

<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/Gd5yN43TqCk?fs=1&amp;hl=es_ES"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="<iframe width="425" height="349" src="http://www.youtube.com/embed/iG9CE55wbtY" frameborder="0" allowfullscreen></iframe>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>

<h4>With knorbit you can find... people... to work with you and...<br>
professionals... projects exchange information<br>
You can also connect ... add people ... </h4>