<div>
	<table style="width: 90%;">
		<tr>
			<td style="padding-right: 50px;">
				<img src="../../images/globos.png" />
			</td>
			<td>
				<h1 class="green">knOrbit is the answer for you!!</h1>
				<span>knOrbit, the knowledge Orbit, is a tool that helps you collect</span>
				<span>the knowledge of a selected group of experts by enabling them to collaboratively edit the same document</span>
				<h1 class="green">How it works:</h1>
				<img src="../../images/ilus.png" />
			</td>
		</tr>
	</table>
</div>