<tr>
  <td class="accounts">
    <span class="first_name"><%= @account.first_name %></span>
		<span class="last_name"><%= @account.last_name %></span>
		<span class="organization"><%= @account.organization %></span>
		<span class="phone"><%= @account.phone %></span>
  </td>
</tr>
